.card {
  background-color: var(--color-white);
  border-radius: 3.5rem;
  display: flex;
  justify-content: space-between;
  padding: 3rem;
  height: 70vh;
  padding-left: 7rem;

  width: 88rem;
}

.card__text-container {
  background-color: green;
  align-self: center;
  color: var(--color-neutral-03);
}

.card__main-title {
  color: var(--color-neutral-01);
  font-size: 5.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.card__main-sibtitle {
  font-weight: var(--fw-regular);
  font-size: 1.4rem;
  margin-bottom: 2rem;
  width: 90%;
}

/* LIST */
.list {
  margin-bottom: 3rem;
}

.list__item {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.list__item:not(:last-child) {
  margin-bottom: 1rem;
}

.list__img {
  width: 1.75rem;
}

/* FORM */
.form__label {
  color: var(--color-neutral-01);
  display: inline-block;
  font-weight: var(--fw-bold);
  font-size: 1rem;
  margin-bottom: 0.8rem;
}

.form__input {
  border: 0.2rem solid var(--color-neutral-03);
  border-radius: 0.4rem;
  font-size: 1.2rem;
  display: block;
  padding: 1rem;
  margin-bottom: 2rem;
  width: 100%;
}

/* BUTTON */
.btn {
  cursor: pointer;
}

.btn--signup {
  color: var(--color-white);
  background-color: var(--color-neutral-01);
  border-radius: 0.6rem;
  font-size: 1.4rem;
  padding: 1.45rem;
  width: 100%;
}

/* IMAGE CONTAINER */
.card__image-container {
  background-color: green;
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
